@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e2e2e2;
}

.img-flex {
  max-width: 100%;
}

body {
  margin: 0;
}


.btn {
  background-color: #555;
  text-decoration: none;
  color: white;
  padding: .5em .75em;
  border-radius: 4px;
}

a:hover {
  background-color: #000;
}

.img-flex {
  padding-top: 2rem;
}

.text {
  padding-left: 1rem;
}

@media only screen and (min-width: 25em) {



}
@media only screen and (min-width: 38em) {
  .text {
    width: 40%;
    display: inline-block;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  .img-flex {
    width: 40%;
    display: inline-block;
  }
}

@media only screen and (min-width: 60em) {
  .text {
    width: 40%;
    display: inline-block;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  .img-flex {
    width: 40%;
    display: inline-block;
  }
}

@media only screen and (min-width: 90em) {

}
