@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

  *, *::before, *::after {
    box-sizing: inherit;
  }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e2e2e2;
}

.img-flex {
  max-width: 100%;
}

body {
  margin: 1rem;
}

.btn {
  background-color: #555;
  text-decoration: none;
  color: white;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .50em;
  padding-bottom: .50em;
}

a:hover {
  background-color: #000;
}

img {
}

h2 {
  text-decoration: none;
}

@media only screen and (min-width: 38em) {
}

@media only screen and (min-width: 60em) {
  .text {
    width: 40%;
    display: inline;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  img {
    width: 40%;
    display: inline;
  }
}
